body {
    color: #792485;
    background-color: #EE94B4;
    font-family: Impact;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin: 0 auto;
    background-color: #DDA5E3;
    font-size: 50px;
    flex: 1;
    width: 100%;
    text-align: center;
    border-radius: 35px;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#logo p {
    display: inline;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (max-width: 1500px) {
    #container {
        width: 98%;
        align-items: stretch;
        justify-content: space-around;
    }
}

#content {
    flex: 1;
    background-color: #DDA5E3;
    height: 50vh;
    min-height: 420px;
    margin-right: 2vw;
    border-radius: 35px;
    position: relative;
    margin-bottom: 5vh;
    max-width: 95vw;
}

#description {
    flex: 1.8;
    background-color: #DDA5E3;
    margin: 0 auto;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 35px;
    overflow: hidden;
    max-width: 95vw;
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }
    #content {
        flex: 1;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
    #description {
        flex: 1;
        width: 90%;
    }
}

#footer {
    width: 100%;
    margin: 20px;
    margin-top: 10px;
    text-align: center;
}

.tile {
    margin: 0 auto;
    width: 95%;
    height: 40px;
    background-color: #792485;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.tilee {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: #A95BA6;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.tile:hover {
    background-color: #A7A7A7;
}

a.tilelink {
    color: #EE94B4;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
    height: 50px;
}

.bottom {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%);
}

#prawa {
    color: #792485;
}

.link {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial;
}

a {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#logoo {
    margin-top: 10px;
}

#logoo2 {
    margin-top: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 30px;
    width: 80px;
    border: 1px solid black;
    background-color: #A95BA6;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 10px;
}

#populacja {
    font-size: 40px;
    color: #A95BA6;
}

#podzial {
    font-size: 40px;
    color: #A95BA6;
}

#obszar {
    font-size: 40px;
    color: #A95BA6;
}

#transport {
    font-size: 40px;
    color: #A95BA6;
}

#ul {
    text-align: left;
}

li.menu {
    display: inline;
}

li.menu a {
    background-image: url(tab.gif);
    width: 28%;
    text-align: center;
    color: #792485;
    text-decoration: none;
    border-bottom: 1px black solid;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

li.menu a:hover {
    background-image: url(tabhover.gif);
    text-decoration: none;
    font-weight: bold;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #792485;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #A7A7A7;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #A7A7A7;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}